@import url(fonts.css);
@import url(reset.css);

.header {
  width: 100%;
  margin-top: 20px;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_content {
  display: flex;
  justify-content: space-between;
}

.nav_bar {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav_link {
  color: #1e1e1e;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  position: relative;
}

.nav_link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #b1404b;
  position: absolute;
  left: 0;
  bottom: -2px;
  max-width: 0%;
  transition: 0.3s;
}

.nav_link:hover::after {
  max-width: 100%;
}

.main {
  margin-top: 122px;
}

.main .wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-image: url(../img/Rectangle\ 4.jpg), url(../img/Rectangle\ 3.jpg);
  background-repeat: no-repeat;
  background-position: right bottom, top right 100px;
}

.main_content {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.welcome {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 30px;
  padding: 5px 20px 10px;
  border: 1px solid black;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  margin: 10px 0 20px;
}

.cont-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.try_btn {
  font-family: "Inter";
  text-decoration: none;
  color: #fff;
  padding: 10px 30px;
  background-color: #b1404b;
  margin-top: 30px;
  display: block;
  width: fit-content;
}

.people {
  margin-top: 40px;
  margin-left: 10px;
}

/* .people_img:nth-child(2) {
  transform: translateX(-20px);
}

.people_img:nth-child(3) {
  transform: translateX(-40px);
}

.people_img:nth-child(4) {
  transform: translateX(-60px);
}

.people_img:nth-child(5) {
  transform: translateX(-80px);
} */

.people_img {
  margin: 0 -10px;
}

/* .imgs__img2 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.imgs__img1 {
  position: absolute;
  top: 0;
  right: 100px;
} */

.footer {
  margin-top: 117px;
  margin-bottom: 106px;
}

.footer .wrapper {
  box-shadow: 0px 4px 12px rgba(61, 56, 56, 0.16),
    0px 6px 40px rgba(50, 50, 50, 0.15), inset 0px 0px 16px rgba(0, 0, 0, 0.05);
}

.recommends {
  display: flex;
  justify-content: space-between;
  padding: 40px 47px;
  width: 100%;
}

.rec {
  display: flex;
  align-items: center;
}

.icon {
  width: 70px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(61, 56, 56, 0.16),
    0px 6px 40px rgba(50, 50, 50, 0.15), inset 0px 0px 16px rgba(0, 0, 0, 0.05);
}

.rec_content {
  margin-left: 20px;
  width: 163px;
}

.rec_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.rec_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #1e1e1e;
  margin-top: 5px;
}
